.btn-bg {
    width: 42px;
    height: 42px;

    border-radius: 21px;
    background-color: bisque;
}

.btn-bg:hover {

    background-color: rgb(254, 162, 49);
}

@media only screen and (max-width: 769px) {
    .width-mobile {
        width: 100%;
    }

    .padding-mobile {
        padding: 20px;
    }
}