.website-container {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}

.bg-img {
    /* width: 100%; */
    background-image: url('../images/m1.png');
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
}